{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot class="total">
            <td colspan="4"></td>
            <td>{{ total }}</td>
        </tfoot>
        <tbody>
            {% for i in range(0, lenght, 1) %}
                <tr>
                    <td>{{ stocks[i]["symbol"] }}</td>
                    <td>{{ stocks[i]["name"] }}</td>
                    <td>{{ stocks[i]["shares"] }}</td>
                    <td>{{ stocks[i]["price"] }}</td>
                    <td>{{ stocks[i]["total"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}