{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    <form action="/changepass" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="old_pass" placeholder="Old password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_pass" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="conf_pass" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Confirm change</button>
    </form>

{% endblock %}